@import url('../CSS/variaveis.css');

body {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imagens/tela2.jpg');
    background-size: cover;
    /* background: no-repeat; */
    /* background-color: #111111; */
}

div.containerMaster {
    -webkit-box-shadow: 0px 0px 44px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px 6px rgba(0,0,0,0.75);
    border-radius: 10px;
    position: absolute;
    /* border: 1px solid red; */
    width: 80%;
    height: 80%;
    background-image: url('../imagens/tela2.jpg');
    /* opacity: 0.9; */
}

div.containerMaster div.login {
    width: 50%;
    height: 100%;
    position: absolute;
    /* border: 1px solid rgb(30, 185, 30); */
    background-color: rgb(255, 255, 255);
    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.containerMaster div.login form {
    width: 80%;
    height: 90%;
    /* border: 1px solid rgb(172, 53, 18); */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FLASH MESSAGES */
form div.flashMessages {
    position: absolute;
    top: 35%;
    width: 55%;
    height: 9%;
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    
}

form div.flashMessages p {
    margin: auto auto;
    text-align: center;
    position: relative;
    font-size: 60%;
    font-weight: 800;
    color: red;
}

div.containerMaster div.login form div.userLogin {
    top: 45%;
    width: 55%;
    height: 6%;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.containerMaster div.login form div.passwordLogin {
    top: 55%;
    width: 55%;
    height: 6%;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.userLogin input {
    position: absolute;
    width: 80%;
    height: 100%;
    right: 0;
    border: none;
    background: none;
    font-weight: 1000;
    color: black;
    outline: none;
}

div.userLogin img {
    width: 20%;
    height: 80%;
    position: absolute;
    left: 0%;
}

div.passwordLogin input {
    position: absolute;
    width: 80%;
    height: 100%;
    right: 0;
    border: none;
    background: none;
    font-weight: 1000;
    color: black;
    outline: none;
}

div.passwordLogin img {
    width: 20%;
    height: 80%;
    position: absolute;
    left: 0%;
}

div.login form h1 {
    text-align: center;
    position: absolute;
    top: 25%;
}

div.login form input[type=button] {
    position: absolute;
    top: 70%;
    right: 25%;
    background:  rgb(5, 41, 87);
    width: 20%;
    height: 5%;
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
}

div.login form input[type=button]:hover {
    position: absolute;
    top: 70%;
    background: rgb(1, 19, 44);
    width: 20%;
    height: 5%;
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
}

div.login a.esqueciSenha {
    position: absolute;
    width: 20%;
    height: 3%;
    /* border: 1px solid red; */
    font-size: 60%;
    color: black;
    font-weight: 1000;
    text-transform: uppercase;
    top: 78%;
    text-decoration: none;
}

div.login a.login {
    /* border: 1px solid red; */
    position: absolute;
    width: 15%;
    height: 6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-weight: 800;
    top: 45%;
    right: -15%;
    border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    background: #fff;
    color: black;
    border: none;
}

div.login a.cadastrar {
    /* border: 1px solid red; */
    position: absolute;
    width: 15%;
    height: 6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-weight: 800;
    top: 49.9%;
    right: -15%;
    border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    background: none;
    color: white;
    border: none;
}

