:root {
    --color-text-title: #BCBAD2;
    --color-text-sub: #FD6412;
    --color-background-1: #2B0082;
    --color-background-2: #5400FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

