:root {
    --color-text-title: #BCBAD2;
    --color-text-sub: #FD6412;
    
    --color-background-1:#020113;
    --color-background-2: #2c2183;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

