<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/cadastrar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Casdastrar</title>
</head>
<body>
    <div class="containerMaster">
        <div class="login">
            <form action="/cadastro" method="POST" autocomplete="on">
                <h1>Cadastro</h1>
                <div class="userName">
                    <img src="/assets/imagens/name.svg" alt="">
                    <input type="text" name="nome" placeholder="Nome">
                </div>
                <div class="userEmail">
                    <img src="/assets/imagens/email.svg" alt="">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="userTelephone">
                    <img src="/assets/imagens/telephone.svg" alt="">
                    <input type="tel" name="telefone" placeholder="Telefone">
                </div>
                <div class="userLogin">
                    <img src="/assets/imagens/user.svg" alt="">
                    <input type="text" name="usuario" placeholder="Usuário">
                </div>
                <div class="passwordLogin">
                    <img src="/assets/imagens/padlock.svg" alt="">
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <input type="submit" name="" value="Cadastrar">
            </form>
            <a class="login" href="/">Login</a>
            <a class="cadastrar" href="">Cadastrar</a>
        </div>
        <div class="imagemSide"></div>
    </div>
<script src="../../assets/Scripts/main.js"></script>
</body>
</html>