<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/assets/CSS/cadastrar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Casdastrar</title>
</head>
<body>
    <div class="containerMaster">
        <div class="login">
            <form action="/cadastro" method="POST" class="formCadastro">
                <input type="hidden" name="_csrf" class="formLoginInputHidden" >
                <!-- <img class="imagem-login" src="../../../public/assets/imagens/logo.png" alt=""> -->
                <!-- <div class="flashMessages">
                    <p>Senha precisa estar entre 3 e 50 caracteres</p>
                    <p>email inválido</p>
                    <p>email inválido</p>
                    <p style="color: green;" >Usuário conectado com sucesso</p>
                </div> -->
                <div class="userName">
                    <img src="../../../public/assets/imagens/user.svg" alt="">
                    <input type="text" name="" placeholder="Nome">
                </div>
                <div class="userEmail">
                    <img src="../../../public/assets/imagens/user.svg" alt="">
                    <input type="email" name="" placeholder="E-mail">
                </div>
                <div class="userTelephone">
                    <img src="../../../public/assets/imagens/telephone.svg" alt="">
                    <input type="tel" name="" placeholder="Telefone">
                </div>
                <div class="userLogin">
                    <img src="../../../public/assets/imagens/user.svg" alt="">
                    <input type="email" name="" placeholder="Usuário">
                </div>
                <div class="passwordLogin">
                    <img src="../../../public/assets/imagens/padlock.svg" alt="">
                    <input type="password" name="" placeholder="Senha">
                </div>
                <input type="submit" name="" value="Login">
            </form>
            <a href="" class="esqueciSenha">Esqueci minha senha!</a>
            <a class="login" href="">Login</a>
            <a class="cadastrar" href="/cadastro">Cadastrar</a>
        </div>
        <div class="imagemSide"></div>
    </div>
<script src="../../assets/Scripts/main.js"></script>
<script src="../../assets/Scripts/login.js"></script>
</body>
</html>